<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--<a href="#" class="pull-right">Read More</a>-->
            <h4>Camp, Khekhra</h4>
        </div>
        <div class="panel-body text-left">
            <div class="row">
                <div class="col-sm-1"><span class="glyphicon glyphicon-list"></span></div>
                <div class="col-sm-10"><span class="glyphicon">Blood Donation,<br/>Blood Sugar Test,<br/>Eye Test</span></div>
            </div>

            <div class="row">
                <div class="col-sm-1"><span class="glyphicon glyphicon-map-marker"></span></div>
                <div class="col-sm-10"><span class="glyphicon">Khekhra, U.P.</span></div>
            </div>

            <div class="row">
                <div class="col-sm-1"><span class="glyphicon glyphicon-time"></span></div>
                <div class="col-sm-10"><span class="glyphicon">9:30 - 13:00</span></div>
            </div>

            <div class="row">
                <div class="col-sm-1"><span class="glyphicon glyphicon-calendar"></span></div>
                <div class="col-sm-10"><span class="glyphicon">23 October '14</span></div>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="btn btn-warning center-block" style="margin-top:15px;">
                Event Page
            </div>
        </div>
    </div>
</div>
