<div class="panel panel-default">
    <div class="panel-heading" style="height:100px;">
        <!--<img src="{{ STATIC_URL }}alumniportal/img/richasingh.jpg" class="img-circle pull-right"
                         style="height:80px;width:80px;top:0;left:0;border:1px #ccc solid">-->
        <h4 class="panel-user-h4"><a href="#">Umesh Gupta</a></h4>

        <p>Secretary</p>
    </div>
    <div class="panel-body text-left">
        <div class="row">
            <div class="col-sm-1"><span class="glyphicon glyphicon-phone"></span></div>
            <div class="col-sm-10"><span class="glyphicon">+91-9810410770</span></div>
        </div>

        <div class="row">
            <div class="col-sm-1"><span class="glyphicon glyphicon-map-marker"></span></div>
            <div class="col-sm-10"><span class="glyphicon">27/15 Radhey Shyam Park, Delhi-110051</span></div>
        </div>

        <div class="row">
            <div class="col-sm-1"><span class="glyphicon glyphicon-inbox"></span></div>
            <div class="col-sm-10"><span class="glyphicon">ishputra@yahoo.com</span></div>
        </div>
        <div class="clearfix"></div>
        <hr>

        <div class="btn btn-warning center-block" style="margin-top:15px;">
            Event Page
        </div>
    </div>
</div>