{% extends 'base.html' %}

{% block title %}Ish Putra | Contact Us{% endblock %}

{% block left_content %}
    {#    <div class="row">#}
    {#        <h3>Members</h3>#}
    {#    </div>#}

    <div class="feedback_form">
    <iframe src="https://docs.google.com/forms/d/1w5JYXxu4gB_MjtSYPDTSz3svKwULfcO1X-6fKkPaUKg/viewform?embedded=true" width="700" height="900" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>
    </div>

{% endblock %}

{% block right_content %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="height:100px;">
                <img src="{{ STATIC_URL }}ishputra/img/user.jpg" class="img-circle pull-right"
                     style="height:80px;width:80px;top:0;left:0;border:1px #ccc solid">
                <h4 class="panel-user-h4"><span class="no-underline">Umesh Gupta</span></h4>

                <p>Secretary</p>
            </div>
            <div class="panel-body text-left">
                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-phone"></span></div>
                    <div class="col-sm-10"><span class="glyphicon">09810410770</span></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-map-marker"></span></div>
                    <div class="col-sm-10"><span class="glyphicon">27/15 Radhey Shyam Park, Delhi-110051</span></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"><span class="glyphicon glyphicon-envelope"></span></div>
                    <div class="col-sm-10"><span class="glyphicon">ishputra@yahoo.com</span></div>
                </div>
                <div class="clearfix"></div>
                <!--
                <hr>

                <div class="btn btn-warning center-block" style="margin-top:15px;">
                    Profile Page
                </div>
                -->
            </div>
        </div>
    </div>

{% endblock %}