<!-- Main Element for Full width -->
<div id="nav-bar-main">
    <div class="container">
        <!-- Element for actual navbar -->

        <div class="row" style="height:60px;">

        </div>
        <div class="nav-main row">
            <div class="pull-left">
                <a href="/" class="pull-left"><img src="{{ STATIC_URL }}ishputra/img/logo.jpg"
                                 style="height:120px;margin:-50px 0 0 50px;"/></a>

                <h1 class="pull-left">Ish Putra</h1>
            </div>


            <div id="nav-bar" class="pull-right">
                <ul>
                    <a href="/">
                        <li class="glyphicon glyphicon-home"><span class="nav-bar-font">Home</span></li>
                    </a>
                    <!--<a href="/services/">
                        <li class="glyphicon glyphicon-calendar"><span class="nav-bar-font">Camps</span></li>
                    </a>
                    <a href="/services/">
                        <li class="glyphicon glyphicon-cog"><span class="nav-bar-font">Services</span></li>
                    </a>
                    <a href="/literature/">
                        <li class="glyphicon glyphicon-pencil"><span class="nav-bar-font">Literature</span></li>
                    </a>-->
                    <a href="/contact_us/">
                        <li class="glyphicon glyphicon-comment"><span class="nav-bar-font">Contact Us</span></li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>